*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

body{
    background-color: grey;
}
.flex-container {
    background-color: lightseagreen;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    box-sizing: content-box;
    height: 500px;
    margin-left: 300px;
    width: 700px;
    justify-content: space-between;
  }
.flex-container .watch1 img{
    height: 300px;
    width: 200px;
}
.flex-container.watch1{
    font-size: medium;
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: black;
       
}
.flex-container.watch2 img{
    height: 300px;
    width: 200px;
}
.flex-container.watch2{
    font-size: medium;
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: black;
       
}



